<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupprojectcountries">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".play.PlayActivity"></activity>
        <activity android:name=".profile.ProfileActivity"></activity>
        <activity android:name=".flagGame.completed.FlagFinalResultsActivity"></activity>
        <activity android:name=".flagGame.completed.FlagPracticeCompletedActivity"></activity>
        <activity android:name=".flagGame.completed.FlagReadyToPracticeActivity"></activity>
        <activity android:name=".flagGame.flashcards.FlagFlashcardsActivity"></activity>
        <activity android:name=".flagGame.practice.FlagPracticeQuizActivity"></activity>
        <activity android:name=".flagGame.finalQuiz.FlagFinalQuizActivity"></activity>
        <activity android:name=".cityGame.completed.CityReadyToPracticeActivity"></activity>
        <activity android:name=".cityGame.completed.CityFinalResultsActivity"></activity>
        <activity android:name=".cityGame.completed.CityPracticeCompletedActivity"></activity>
        <activity android:name=".cityGame.flashcards.cityFlashcardsActivity"></activity>
        <activity android:name=".cityGame.practice.cityPracticeQuizActivity"></activity>
        <activity android:name=".cityGame.finalQuiz.cityFinalQuizActivity"></activity>
    </application>

</manifest>