<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupprojectcountries">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Play.PlayActivity"></activity>
        <activity android:name=".Profile.ProfileActivity"></activity>
        <activity android:name=".FlagGame.Completed.FlagFinalResultsActivity"></activity>
        <activity android:name=".FlagGame.Completed.FlagPracticeCompletedActivity"></activity>
        <activity android:name=".FlagGame.Completed.FlagReadyToPracticeActivity"></activity>
        <activity android:name=".FlagGame.Flashcards.FlagFlashcardsActivity"></activity>
        <activity android:name=".FlagGame.Practice.FlagPracticeQuizActivity"></activity>
        <activity android:name=".FlagGame.FinalQuiz.FlagFinalQuizActivity"></activity>
        <activity android:name=".CityGame.Completed.CityReadyToPracticeActivity"></activity>
        <activity android:name=".CityGame.Completed.CityFinalResultsActivity"></activity>
        <activity android:name=".CityGame.Completed.CityPracticeCompletedActivity"></activity>
        <activity android:name=".CityGame.Flashcards.CityFlashcardsActivity"></activity>
        <activity android:name=".CityGame.Practice.CityPracticeQuizActivity"></activity>
        <activity android:name=".CityGame.FinalQuiz.CityFinalQuizActivity"></activity>
    </application>

</manifest>